 {% extends 'base.html.twig' %} 


{% block body %}
<div class="mx-auto w-4/5 my-8">
<a href="/movies/create" class="uppercase border border-gray-500 text-lg">Create</a>
  <div class="w-1/6"><h1 class="bg-blue-500 text-2xl text-center">   this is a film</h1></div>
  <div class="w-5/6"><img src="{{asset('build/images/751.jpg')}}"    alt=""></div>
</div>


{% endblock %}